// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nunito:wght@200;400;700&family=Source+Code+Pro:wght@200;300&display=swap');

// Override default variables 
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (
            85: 85%,
            90: 90%
          )
        ),
      ),
    ),
  )
);

$theme-colors: (
  "primary": #001C55,
  "blue": $primary
);
// Import Bootstrap
@import '~bootstrap/scss/bootstrap.scss';